<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>SchemeUserState</key>
	<dict>
		<key>test1.xcscheme</key>
		<dict>
			<key>orderHint</key>
			<integer>0</integer>
		</dict>
	</dict>
	<key>SuppressBuildableAutocreation</key>
	<dict>
		<key>1D2DB4F91CF6C14700057334</key>
		<dict>
			<key>primary</key>
			<true/>
		</dict>
		<key>1D2DB5121CF6C14700057334</key>
		<dict>
			<key>primary</key>
			<true/>
		</dict>
		<key>1D2DB51D1CF6C14800057334</key>
		<dict>
			<key>primary</key>
			<true/>
		</dict>
	</dict>
</dict>
</plist>
